<!Doctype html>
<html>
<style>
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: 	#0000FF;
}
</style>
<body>

<h1>GET OR POST MAPPING</h1>

<div class="btn-group">
<button id="myButton" class="float-left submit-button" >GET MAP</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "http://localhost:3000";
    };
</script>  <br>
  <br>
  <br>
  <button id="myButton2" class="float-left submit-button" >POST</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "http://localhost:3000";
    };
</script> 
</div>

</body>
</html>
